<mat-toolbar class="toolbar">
    <span class="toolbar-title"><mat-icon class="title-icon">shopping_cart</mat-icon> The Amazing Store</span>

    <div class="right">

        <mat-slide-toggle *ngIf="!currencyConversionEnabled" class="ccy-conversion-toggle"
                          [checked]="currencyConversionEnabled"
                          (change)="toggleCurrencyConversion()">
            Currency conversion
        </mat-slide-toggle>

        <mat-icon *ngIf="currencyConversionEnabled" class="ccy-conversion-cancel" (click)="toggleCurrencyConversion()">
            cancel
        </mat-icon>

        <mat-form-field *ngIf="currencyConversionEnabled">
            <mat-select  required [value]="currency" (valueChange)="currencyChanged($event)">
                <mat-option value="CAD">CAD - Canadian Dollar</mat-option>
                <mat-option value="EUR">EUR - Euro</mat-option>
                <mat-option value="GBP">GBP - Pound sterling</mat-option>
                <mat-option value="JPY">JPY - Japanese Yen</mat-option>
                <mat-option value="USD">USD - United States Dollar</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-toolbar>

<div style="padding-left: 20px; padding-right: 20px;">
    <mat-grid-list cols="2" rowHeight="160px" gutterSize="20px">
        <mat-grid-tile *ngFor="let item of items">
            <app-item [item]="item"></app-item>
        </mat-grid-tile>
    </mat-grid-list>
</div>
